<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DemoApp4</display-name>
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>com.tom.MyServlet</servlet-class>
  	
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>tom</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <!-- You can mention some initial parameters and then you can use those parameters 
  	   in your code 
   -->
   
   
   <!-- In this context param i will specify a name value pair -->
   <context-param>
   		<param-name>name</param-name>
   		<param-value>Navin</param-value>
   </context-param>
   
   <context-param>
   		<param-name>Phone</param-name>
   		<param-value>Samsung</param-value>
   </context-param>
  
  
  
  
</web-app>